# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../output_data/Weather_Data_04132021.csv")
weather_df

,City Name,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Windspeed (mph),Country,Date
0,harbour breton,47.4833,-55.7983,40.32,78,99,28.21,CA,1618355284
1,punta arenas,-53.1500,-70.9167,50.00,87,100,9.22,CL,1618355240
2,hobart,-42.8794,147.3294,61.00,51,40,21.85,AU,1618355285
3,bandarbeyla,9.4942,50.8122,79.03,75,47,8.16,SO,1618355285
4,rikitea,-23.1203,-134.9692,77.68,66,11,7.92,PF,1618355232
...,...,...,...,...,...,...,...,...,...
560,aripuana,-9.1667,-60.6333,75.34,91,69,0.60,BR,1618355621
561,albert,50.0009,2.6510,39.99,75,0,4.61,FR,1618355622
562,kalmunai,7.4167,81.8167,77.99,84,97,5.35,LK,1618355622
563,mundra,22.8500,69.7333,78.12,48,0,8.55,IN,1618355623
564,havoysund,70.9963,24.6622,30.20,74,75,10.36,NO,1618355624

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
from api_keys import (weather_api_key, g_key)

In [4]:
gmaps.configure(api_key = g_key)

In [5]:
# Store 'Lat' and 'Lng' into  locations as a float
locations = weather_df[["Latitude", "Longitude"]].astype(float)

In [13]:
locations

     Latitude  Longitude
0     47.4833   -55.7983
1    -53.1500   -70.9167
2    -42.8794   147.3294
3      9.4942    50.8122
4    -23.1203  -134.9692
..        ...        ...
560   -9.1667   -60.6333
561   50.0009     2.6510
562    7.4167    81.8167
563   22.8500    69.7333
564   70.9963    24.6622

[565 rows x 2 columns]

In [6]:
weather_df['Humidity'] = weather_df['Humidity'].astype(float)

In [7]:
#verify that Humidity is now a float
weather_df.dtypes

City Name           object
Latitude           float64
Longitude          float64
Max Temp           float64
Humidity           float64
Cloudiness           int64
Windspeed (mph)    float64
Country             object
Date                 int64
dtype: object

In [8]:
humidity = weather_df['Humidity']
humidity

0      78.0
1      87.0
2      51.0
3      75.0
4      66.0
       ...
560    91.0
561    75.0
562    84.0
563    48.0
564    74.0
Name: Humidity, Length: 565, dtype: float64

In [9]:
# Create a Humidity Heatmap layer
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
#* A max temperature lower than 80 degrees but higher than 70.
# * Wind speed less than 10 mph.
#  * Zero cloudiness.
#  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
perfect_weather = weather_df.loc[(weather_df['Max Temp'] > 70) & (weather_df['Max Temp'] < 80) & 
                                 (weather_df['Windspeed (mph)'] < 10) & (weather_df['Cloudiness'] == 0)]
perfect_weather = perfect_weather.reset_index()
del perfect_weather['index']
perfect_weather.at[0,'Country']="NM"
perfect_weather

,City Name,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Windspeed (mph),Country,Date
0,luderitz,-26.6481,15.1594,78.49,33.0,0,7.70,NM,1618355296
1,salalah,17.0151,54.0924,78.80,73.0,0,3.44,OM,1618355316
2,sao filipe,14.8961,-24.4956,77.65,58.0,0,7.52,CV,1618355333
3,mount isa,-20.7333,139.5000,75.20,23.0,0,4.61,AU,1618355346
4,lumding,25.7535,93.1732,70.03,42.0,0,1.68,IN,1618355366
5,madera,37.1666,-119.8343,71.01,35.0,0,1.99,US,1618355120
6,caravelas,-17.7125,-39.2481,75.47,78.0,0,5.75,BR,1618355403
7,neuquen,-38.9516,-68.0591,77.00,44.0,0,3.44,AR,1618355197
8,pilar,-9.5972,-35.9567,77.00,88.0,0,3.44,BR,1618355459
9,san martin,-33.0810,-68.4681,71.60,49.0,0,5.97,AR,1618355478
10,blackwater,-23.5833,148.8833,71.82,49.0,0,9.80,AU,1618355506
11,beira,-19.8436,34.8389,78.80,78.0,0,7.25,MZ,1618355507
12,resistencia,-27.4606,-58.9839,72.00,73.0,0,5.75,AR,1618355576
13,maceio,-9.6658,-35.7353,77.00,88.0,0,3.44,BR,1618355376
14,mundra,22.8500,69.7333,78.12,48.0,0,8.55,IN,1618355623

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
perfect_weather["Hotel Name"] = ""
hotel_df = perfect_weather
hotel_df

,City Name,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Windspeed (mph),Country,Date,Hotel Name
0,luderitz,-26.6481,15.1594,78.49,33.0,0,7.70,NM,1618355296,
1,salalah,17.0151,54.0924,78.80,73.0,0,3.44,OM,1618355316,
2,sao filipe,14.8961,-24.4956,77.65,58.0,0,7.52,CV,1618355333,
3,mount isa,-20.7333,139.5000,75.20,23.0,0,4.61,AU,1618355346,
4,lumding,25.7535,93.1732,70.03,42.0,0,1.68,IN,1618355366,
5,madera,37.1666,-119.8343,71.01,35.0,0,1.99,US,1618355120,
6,caravelas,-17.7125,-39.2481,75.47,78.0,0,5.75,BR,1618355403,
7,neuquen,-38.9516,-68.0591,77.00,44.0,0,3.44,AR,1618355197,
8,pilar,-9.5972,-35.9567,77.00,88.0,0,3.44,BR,1618355459,
9,san martin,-33.0810,-68.4681,71.60,49.0,0,5.97,AR,1618355478,
10,blackwater,-23.5833,148.8833,71.82,49.0,0,9.80,AU,1618355506,
11,beira,-19.8436,34.8389,78.80,78.0,0,7.25,MZ,1618355507,
12,resistencia,-27.4606,-58.9839,72.00,73.0,0,5.75,AR,1618355576,
13,maceio,-9.6658,-35.7353,77.00,88.0,0,3.44,BR,1618355376,
14,mundra,22.8500,69.7333,78.12,48.0,0,8.55,IN,1618355623,

In [12]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    name_address = requests.get(base_url, params=params)
    # convert to json
    name_address = name_address.json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.

,City Name,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Windspeed (mph),Country,Date,Hotel Name
0,luderitz,-26.6481,15.1594,78.49,33.0,0,7.70,NM,1618355296,LÃœDERITZ NEST HOTEL
1,salalah,17.0151,54.0924,78.80,73.0,0,3.44,OM,1618355316,HAMDAN PLAZA HOTEL SALALAH
2,sao filipe,14.8961,-24.4956,77.65,58.0,0,7.52,CV,1618355333,Tortuga B&B
3,mount isa,-20.7333,139.5000,75.20,23.0,0,4.61,AU,1618355346,ibis Styles Mt Isa Verona
4,lumding,25.7535,93.1732,70.03,42.0,0,1.68,IN,1618355366,Hotel Nilamber
5,madera,37.1666,-119.8343,71.01,35.0,0,1.99,US,1618355120,
6,caravelas,-17.7125,-39.2481,75.47,78.0,0,5.75,BR,1618355403,Pousada dos Navegantes
7,neuquen,-38.9516,-68.0591,77.00,44.0,0,3.44,AR,1618355197,Hotel del Comahue
8,pilar,-9.5972,-35.9567,77.00,88.0,0,3.44,BR,1618355459,Pousada e churrascaria Manguaba
9,san martin,-33.0810,-68.4681,71.60,49.0,0,5.97,AR,1618355478,Club El PelÃ­cano
10,blackwater,-23.5833,148.8833,71.82,49.0,0,9.80,AU,1618355506,Blackwater Motor Inn
11,beira,-19.8436,34.8389,78.80,78.0,0,7.25,MZ,1618355507,Beira Terrace Hotel
12,resistencia,-27.4606,-58.9839,72.00,73.0,0,5.75,AR,1618355576,Niyat Urban Hotel
13,maceio,-9.6658,-35.7353,77.00,88.0,0,3.44,BR,1618355376,Poutur Pousada
14,mundra,22.8500,69.7333,78.12,48.0,0,8.55,IN,1618355623,Hotel Bansidhar Palace

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [15]:
# Add marker layer ontop of heat map
marker_layer =gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦